NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
BREVO_API_KEY=
EMAIL_FROM="COM7 Recruitment <queue@example.com>"
NEXT_PUBLIC_GOOGLE_DRIVE_FOLDER_URL=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_API_KEY=
